.service-page-heading{
    font-size:30px;
    font-family:'Plus Jakarta Display', sans-serif;
    font-weight:700;
    color:white;
    padding:20px;
}

.service-page-image{
    width:100%;
    height:100%;
    max-height:600px;
    margin:20px;
    border-radius:0px;
    background-size:cover;
}
.service-page-content{
    font-size:20px;
    /* font-family:'Plus Jakarta Display', sans-serif; */
    line-height: 30px;
    letter-spacing: 2px;
    font-weight:300;
    color:white;
    margin-top:50px;
    padding:30px;
}


.services-page{
    background-color: #0A1D31;
    display: flex;
    margin:0px;
    
    height:100vh;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.services-page1{
    /* margin-top:100px; */
    display:flex;
    margin: 0px;
    padding: 0px;
}

.services-side-page{
    width:40%;
    height:100vh;
    background-color: #08182a;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}



.service-cat{
    position: relative;
    cursor: pointer;
    width: 80%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.5s;
}

.services-side-page1{
    padding-top:90px;
}



#services-side{

    overflow-y: scroll;
    scrollbar-color: none;
    scrollbar-width: none;
}



#service-p{
    padding:0px;
    margin:0px;
}


@media screen and (max-width : 770px){
    .service-page-image{
        width:100%;
        height:100%;
        max-height:300px;
        margin:20px;
    
        background-size:cover;
    }
    .service-page-content{
        font-size:16px;
        /* font-family:'Plus Jakarta Display', sans-serif; */
        line-height: 20px;
        letter-spacing: 1px;
        font-weight:300;
        color:white;
        margin-top:20px;
        padding:30px;
    }
    
}

