.service-page-heading{
    font-size:24px;
    font-family:'Plus Jakarta Display', sans-serif;
    font-weight:600;
    color:white;
    margin:20px;
    width:100%;
    text-align: center;
}

.service-page-image{
    padding:0px;
    margin: 0px;
    height:auto;
    width:100%;
    border-radius:6px;
}


.service-page-content1{
    display:flex;
    flex-direction:column;
    justify-content: center;
    /* margin-top:50px; */
}

.service-page-content{
    display:flex;
    font-size:15px;
    /* font-family:'Plus Jakarta Display', sans-serif; */
    line-height: 30px;
    letter-spacing: 2px;
    font-weight:300;
    color:white;
    /* margin-top:20px; */
    margin:0px;
    padding:0px;
}


.services-page{
    background-color: #0A1D31;
    display: flex;
    margin:0px;
    
    height:100vh;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.services-page1{
    display:flex;
    margin: 0px;
    padding: 0px;
}

#services-side-bar{
    overflow-y: scroll;
    height:72vh;
    scrollbar-color: none;
    scrollbar-width: none;
}
.services-side-page{
    width:40%;
    height:100vh;
    background-color: #08182a;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}



.service-cat{
    position: relative;
    cursor: pointer;
    width: 80%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.5s;
    margin-top:-10px;
}

.services-side-page1{

}

#services-cat-heading{
    font-size:14px;
    margin:0px;
    padding:0px;
}


#services-side{

    /* overflow-y: scroll; */
    scrollbar-color: none;
    scrollbar-width: none;
}



#service-p{
    padding:0px 20px;
    margin:0px 50px;
    
}

#services-cat{
    margin-bottom: 13px;
}

#connect-box1{
    margin:0px;
    width:100%;
    padding:0px;
    /* border:1px solid white; */
}
#services-connection{
    padding:0px;
    /* margin:0px; */
    margin:30px 0px;

}

#connect-box2{
    margin:0px;
    padding:0px;
}

#servi{
    /* position:fixed; */
}
#services-cat{
    /* transform: translateY(100px); */
}



@media screen and (max-width: 1200px){
    #con1{
        display:none;
    }
    .service-page-content{
        font-size:13px;
    }
    
}

@media screen and (max-width : 768px){
    
    #services-side-bar{
        overflow-y: scroll;
        height:88vh;
        scrollbar-color: none;
        scrollbar-width: none;
    }
    #service-p{
        margin:0px 25px;
        padding:5px;
        padding-bottom:50px;
        
    }
    .services-page1{
        margin-top:-10px;
    }
    
    .service-page-content{
        font-size:16px;
        /* font-family:'Plus Jakarta Display', sans-serif; */
        line-height: 20px;
        letter-spacing: 1px;
        font-weight:300;
        color:white;
        margin:0px;
        padding: 0px;
        margin-top:10px;
    }

    .service-page-content1{
        padding-top:10px;
        margin-top: 0px;
    }
    #services-connection{

        width:100%;
        margin:30x 0px ;
        display:flex;
        justify-content: center;
        align-items: center;

    }
    
    
    .sidebar-toggle-btn{
        padding:10px 20px;
        -webkit-tap-highlight-color: transparent;

    }
    
}

