#services123-total{
    /* background: linear-gradient(to bottom right, #0A1D31, #06172c); */
    /* border:1px/ solid white; */
   
}


#services123-section{
    /* display:flex; */
    padding-bottom:70px;
    padding-top:70px;
    /* height:100%; */
    overflow-y: hidden;

    
}


#services123-section-content{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

#services123-item{
    height:100px;
    width:38%;
    margin-top:50px;
    transition: 0.5s;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.4);

}
#services123-item:hover{
    transform: scale(1.05);
}

#services123-line{
    border:3px dashed #71c9c6;
}

#services123-image{
    height:90px;
    width:90px;

}

#services123-label{
    /* border:1px solid white; */
    width:100%;
    font-size:20px;
    display:flex;
    text-align: center;
    justify-content: center;
}


#services123-heading{
    font-family:'Jost','sans-serif';

    font-size:40px;
}


@media screen and (max-width: 1000px){
    #services123-label{
        font-size:14px;
    }
    #services123-item{
        height:70px;
    }
    #services123-image{
        height:50px;
        width:50px;
    }
}


@media screen and (max-width:750px){
    #services123-heading{
        font-size:25px;
    }
    #services123-section-content{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
    }
    #services123-item{
        width:80%;
    }
    #services123-item{
        height:60px;
        margin-top:20px;
    }
}