/* Default styles for larger screens */
.about-section {
  /* padding-top:150px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: linear-gradient(to bottom, #0A1D31, #000000);
}

.about-section{
    margin-top: 100px;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
.about-section-left {
  width: 40%;
  padding: 10px;
  box-sizing: border-box;
}

.about-section-right {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.about-heading {
  display: inline;
  position: relative;
  font-size: 38px; /* Default font size for desktop */
  font-weight: 600;
  font-family: 'Plus Jakarta Display', sans-serif;
  color: #FFFFFF;
}

.about-line {
  width: 20%;
  content: '';
  position: relative;
  height: 3px;
  background-color: #71C9C6;
  transition: width 1s ease;
}

/* Custom AOS Animation for the line */
@keyframes widthAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}

[data-aos="about-line-animation"] {
  animation: widthAnimation 1s ease-out forwards;
}

.about-heading2 {
  overflow: hidden;
  display: inline;
  position: relative;
  font-size: 38px;
  font-weight: 600;
  font-family: 'Plus Jakarta Display', sans-serif;
  color: #FFFFFF;
}

.about-para1 {
  font-family: 'Plus Jakarta Display', sans-serif;
  margin-top: 50px;
  font-size: 36px; /* Default font size for desktop */
  font-weight: 200;
  color: #FFFFFF;
}

.about-para2 {
  font-family: 'Manrope', sans-serif;
  line-height: 38px;
  font-size: 20px;
  font-weight: 100;
  color: #FFFFFF;
  word-wrap: break-word;
}

#about1, #about2, #about3 {
  height: 400px;
  width: 180px;
  min-width: 180px;
  min-height: 400px;
}

#about2 {
  margin-top: -30px;
}

#about3 {
  margin-top: 10px;
}
.about44{
  display:flex;
  justify-content: center;
}

/* Media Query for screens smaller than 1300px */
@media screen and (max-width: 1000px) {

  .about-heading {
    font-size: 25px; 
  }

  .about-para1 {
    font-weight:bold;
    font-size: 25px;
  }

  .about-para2 {
    font-size: 15px;
    line-height: 23px;
  }

  #about1, #about2, #about3 {
    height: 350px;
    width: 150px;
    min-width: 150px;
    min-height: 350px;
  }
}

/* Media Query for smaller screens (mobile) */
@media screen and (max-width: 750px) {
  .about-section-left{
    transform:scaleX(1) scaleY(1);
  }
  
  .about-para1 {
    font-weight: 600;
    font-size: 24px; /* Adjust heading font size for mobile screens */
  }

  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

  .about-section-left {
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
  }

  .about-section-right {
    margin-top: 50px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: 270px;
  }

  #about1, #about2, #about3 {
    height: 210px;
    width: 100px;
    min-width: 100px;
    min-height: 200px;
  }

  .about-para2 {
    font-size: 14px; /* Adjust paragraph font size for mobile screens */
    line-height: 25px;
  }
}
