.app {
    text-align: center;
    color: #fff;
    background-color: #002b5c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .navigation {
    display: flex;
    align-items: center;
  }
  
  button {
    background: none;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    color: #ffdd57;
  }
  