.navbar{
    width:100%;
    height:80px;
    /* margin:30px 30px; */
    top:0;
    display:flex;
    /* align-items: center; */
    justify-content:space-between;
    align-items: center;
    backdrop-filter: blur(20px);

    z-index:10000000;
    /* background-color:rgba(10, 29, 49, 0.1); */
    position:fixed;
}

#navbar-item-active{
    text-decoration: none;
    color:#71C9C6;
}
.navbar1{
    height:100px;
    /* backdrop-filter: blur(20px); */

    width:100%;
    /* margin:30px 30px; */
    top:0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content:space-between; */
    /* background-color:rgba(10, 29, 49, 0.1); */
    
}

#navbar3{
    margin-top:20px;
}



.navbar-logo{
    /* margin:25px; */
    margin-left:30px;
    cursor: pointer;
    height:30px;
    -webkit-tap-highlight-color: transparent;
}

.navbar-right{
    /* width:100%; */
    height:100%;
    /* margin-top:25px; */
    margin-right:50px;
    justify-content: center;
    align-items: center;
    /* margin:50px 30px; */
    display:flex;

}

.navbar-item{
    margin:0px 20px;
    text-decoration:none;
    color:#FFFFFF;
    font-size:16px;
    font-family:'Jost', sans-serif;
    transition: 0.7s;
    font-weight:500;
}

.navbar-item:hover{
    color:#71C9C6;
}


.navbar-dropdown-mobile{
    display:none;

}

.navbar-ite{
    /* rotate:270deg; */
}

.navbar-dropdown1{
    display:none;
}



@media screen and (max-width:700px){
    .navbar-right{
        display:none;
    }
    .navbar-dropdown-mobile{
        margin-right:10px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        position: relative;

    }
    .navbar-ite{
        margin-right:20px;
        position: relative;
        text-justify: center;
        text-align: center;
        padding:5px 10px;
        background-color: rgb(255, 255, 255);
        border-radius:50%;
        /* margin:10px 0px; */
        text-decoration:none;
        color:#0A1D31;
        font-size:14px;
        font-weight:bold;
        font-family:'Plus Jakarta Display', sans-serif;
        transition: 0.7s;
    }
    #navbar-ite1{
        font-size:14px;
    }
    
    
    
    
    .navbar-dropdown1{
        background-color:rgba(10, 29, 49, 0.1);
        padding:15px 15px;
        display:flex;
        flex-direction: column;
        border-radius:10px;
        position: fixed;
        top:90px;
        backdrop-filter: blur(20px);
        z-index:1000000;
        right:20px;
    }
    #navbar-show{
        display:none;
    }

    .navbar-item2{

        text-wrap: nowrap;
        padding:0px;
        margin:10px 0px;
        text-decoration:none;
        color:#FFFFFF;
        font-size:16px;
        font-family:'Jost', sans-serif;
        font-weight:500;
        -webkit-tap-highlight-color: transparent;

    }
    .navbar-item2:hover{
        color:#71C9C6;
    }
    


}


