
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.Slider{
    /* width:100%; */
    height:700px;
    background-image: url("./images/slider.png");
    background-size:cover;

   
}

.slider-content{
    /* border:1px solid white; */
    margin-left:100px;
    padding-top:150px;
}

.slider-content-p{
    font-family:"Plus Jakarta Sans", sans-serif;
    font-size:100px;
    color:white;
    margin:0px;
    font-weight:400;
    letter-spacing: -4px;
    
}

.slider-button{
    font-family:"Inter", sans-serif;
    font-size:17px;
    
    border:none;
    font-weight:550;
    margin:10px;
    background-color: #FFFFFF;

    
}
.slider-button-box{
    margin-left:100px;
    margin-top:30px;
    width:190px;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius:25px;
}
.slider-arrow{
    height:30px;
    
}


.slider-index{
    margin-left:8px;
    width:200px;
    height:70px;
    transform: skewx(35deg);
    border-radius:12px;
    background-color:#0A1D31;
    /* border:1px solid white; */
}
.slider-index-a{
    height:70px;
    width:50px;
    border-radius:12px;
    background-color:#0A1D31;
    transform: skewx(-35deg);
    /* border:1px solid white; */
}

.slider-index-b{
    display:flex;
    justify-content:center;
    margin-top:-30px;
}

.dot {
    margin:0px 3px;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .active-dot {
    background-color: #00b0b9; 
    width:40px;
    border-radius:15px;
  }

.slider-index-c{
    justify-content: center;
    align-items: center;
    display:flex;
    /* border:1px solid white; */
    height:30px;
    margin-top:-65px;
    position: relative;
    z-index: 1000000;

}




@media screen and (max-width : 950px){
    #sl{
        margin-left:40px;
        width:150px;
    }
    .slider-button{
        font-size:12px;

    }
    .slider-content{
        margin-left:10%;
    }
    .slider-content-p{
        font-size:60px;
    }
    .Slider{
        height:600px;
    }
    .slider-index-c, .slider-index-b{
        transform: ScaleX(0.8) ScaleY(0.8);
    }
}