body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.page-enter {
  opacity: 0;
  transform: translateY(33px); 
  will-change: transform, box-shadow, z-index;
}
.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
  will-change: transform, box-shadow, z-index;
}
.page-exit {
  will-change: transform, box-shadow, z-index;
  opacity: 1;
}
.page-exit-active {
  will-change: transform, box-shadow, z-index;
  opacity: 0;
  transform: translateY(-30px); /* Optional: Moves the old page slightly up */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.page-enter, .page-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-enter-active, .page-exit-active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



