/* Global Reset */


/* Full Height Container */
.glb-com{
  background: linear-gradient(to bottom, #071422,#000000);

}
.w35234 {
  padding-top:50px;
  position: relative;
  height: 500px;
  width: 100%;
  display:flex;
  
}


.glo{
  background-color:#071422;
  padding-top:100px;
}
/* Globe Container */
.w35325 {
  width: 100%;
  height: 100%;
}

/* Tag Styling */
.w35235 {
  background:linear-gradient(to bottom, rgba(3, 5, 12, 0.5), rgba(15, 43, 57, 0.5)) ;

  border:1px solid aqua;

  border-radius:12px;
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 24px;
  text-align: center;
  z-index: 2;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start;
  
  width:230px;
}

.w3235-cont{
  padding:10px;
  width:90%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.w35235 h2 {
  margin-bottom: 10px;
}


.w35325{
}

.w35235 p {
  margin: 5px 0;
}

.w3235-img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 230px;
  height: 160px; /* Adjust the height according to your layout needs */
  background: 
    linear-gradient(to bottom, rgba(13, 22, 60, 0.5), rgba(53, 152, 198, 0.5)) ;
  background-size:cover;
  background-position: center;
  opacity:0.8;
}

/* Dashed Line using :after */
.w35235::after {
  
  content: "";
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 60px;
  border-left: 2px dashed aqua;
}



/* Navigation Buttons */
.w35236 {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 2;
}

.w35236 button {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-top:-250px; */
  background-color: rgba(0, 0, 0, 0.0);
  color:#71C9C6;
  height:fit-content;
  border: none;
  padding: 10px 40px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  transition:0.3s;
}
.w35235{
  background-color: rgb(0, 0, 0,0.7);
}

.w35236 button:hover {
  color:#ffffff;
  background-color: rgba(0, 0, 0, 0.0);
}

.labels-country{
  font-size:18px;
  color:white;
  transition: 0.4s;
}
.labels-country:hover{
  color:#71C9C6;
}


.w3235-name{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin:0px;
  margin-left:10px;
  padding-top:6px;
  border:0px;
  font-size:18px;
}

.w3235-project{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin:0px;
  padding:0px;
  border:0px;
  font-size: 14px;
  
}

.w3235-value{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin:0px;
  padding:0px;
  border:0px;
  font-size: 14px;
}



.globe-heading{
  font-family: 'Plus Jakarta Display', sans-serif;
  font-weight:600;
  color:white;
  font-size:35px;
  
}

.glb-com{
  display:flex;
  flex-direction:column;
  justify-self: center;
  align-items: center;

}

.globe-heading{
  padding:0px;
  margin:0px;
  padding-bottom:10px;
  font-size:40px;
  font-weight:800;
  font-family:'Jost', sans-serif;
}

.globe-heading-cont{
  padding-top:50px;
  padding-bottom:140px;
  display:flex;
  flex-direction:column;
  justify-content: center;
}


.global-line{
  padding:0px;
  margin:0px;
  background-color: #71C9C6;
  height:3px;
  width:70%;
}


.places-line {
  border:1px solid white;
  content: '';
  position: relative;
  height: 3px;
  background-color: #71C9C6;
  transition: width 1s ease;
}

.globe-heading-cont2{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.w3235-usd-value{
  font-size:14px;
  font-weight:400;
  margin-right:10px;
}
.w3235-name-cont{
  display:flex;
  justify-content: space-between;
  width:100%;
  align-items: center;
  
}
.w3235-project-cont{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left:10px;
  padding-bottom:10px;
}

@media screen and (max-width : 778px){
  .globe-heading{
    font-size:25px;
  }
  .w35236 button{
    color:white;
    background-color: rgba(0, 0, 0, 0.7);
    padding:10px 20px;
    font-size:25px;
  }
  .w35236 button:hover{
    color:white;
    background-color: #000000;
  }
  .labels-country{
    display:none;
  }

}